public-hoist-pattern[]=eslint-plugin-react-hooks
public-hoist-pattern[]=@next/eslint-plugin-next
public-hoist-pattern[]=eslint-plugin-import
public-hoist-pattern[]=eslint-plugin-jsx-a11y
public-hoist-pattern[]=eslint-plugin-react
public-hoist-pattern[]=@typescript-eslint/eslint-plugin
public-hoist-pattern[]=@typescript-eslint/parser
confirm-modules-purge=false
